.footer {
  background-color: #f8fafc;
  text-align: center;
}

.footer__container.content-wrapper {
  padding: 1rem 0;
}

.footer__copyright {
  font-size: 0.7rem;
  margin: 0.5rem 0;
  background-color: rgba(240, 240, 240, 1);
  padding: 10px;
}
